<ul>
  {% for post in site.pages and offset: 0 limit: 100 %}
    {% if post.meta == include.meta %}

		<div class="row">

			<section class="12u">
				<div class="box post">

					<div class="inner">

					<li>
						<a href="{{ site.baseurl }}{{ post.url }}"#disqus_thread> {{ post.title }}</a>
						{{ post.day }}
						{% if page.comments %} • <a href="https://newblog.github.io{{ page.url }}#disqus_thread">0 Comments</a>{% endif %}
					</li>

						<footer>



						</footer>
					</div>
				</div>

			</section>
		</div>
    {% endif %}
  {% endfor %}
</ul>


								